main {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    max-width: 622px;
    max-height: 622px;
}

app-square{
    border: 1px gray solid;
    height: 200px;
}

